<div class="container">
	<% if signed_in?(@user) %>
		<h1 class="main-title">Welcome, <%= @user.first_name.capitalize %>!</h1>

		
		<div class="lists">
			<% if paired?(@user) %>
				<h2 class="list-title"><%= "#{paired_with(@user)}'s List" %></h2>

				<% if any_items?(paired_with_list(@user)) %>
					<ul class="christmas-list">
						<% paired_with_list(@user).items.each do |item| %>
							<li><%= item.item %></li>
						<% end %>
					</ul>
				<% else %>
					<h2 class="list-title">No items added yet.</h2>
				<% end %>

			<% else %>
				<h2 class="list-title">Sorry, Not Paired Yet</h2>
			<% end %>
		</div>

		<div class="lists">
			<h2 class="list-title">Your List</h2>

			<% if @user.list %>
				<ul class="christmas-list">
				<% @user.list.items.each do |item| %>
					<li> <%= item.item %> <%= link_to "Remove from list", user_list_item_path(@user.id, @user.list.id, item.id), method: "delete", class: "links", data: { confirm: "Remove #{item.item} from your list?" } %></li>
				<% end %>
				</ul>

				<%= form_for [@user, @list, @item], url: user_list_items_path(@user.id, @list.id) do |f| %>
					<%= f.text_field :item %>
					<%= f.submit "Add Item" %>
				<% end %>
				<%= flash[:add_item_error] %>

			<% else %>
				<p class="create-list"><%= link_to "Create Christmas List", {controller: "lists", action: "create" }, method: "post" %></p>
			<% end %>
		</div>


		<p class="links"><%= link_to "Sign Out", {controller: "users", action: "sign_out"}, method: "post" %></p>

	<% else %>
		<h1 id="not_signed_in_top">Ho! Ho! Ho!</h1>
		<h2 id="not_signed_in_bottom">You need to be signed in to see this!</h2>
		<p class="links"><%= link_to "Return Home", root_path%></p>
	<% end %>
</div>