<% if signed_in?(@user) %>
	<h1>Family Christmas List Name Draw</h1>
	<h2>Welcome, <%= @user.first_name %>!</h2>

	<h3>X's List</h3>

	<h3>Your List</h3>

	<% if @user.list %>
		<ul>
		<% @user.list.items.each do |item| %>
			<li> <%= item.item %></li>
		<% end %>
		</ul>

		<%= form_for [@user, @list, @item], url: user_list_items_path(@user.id, @list.id) do |f| %>
			<%= f.label "Item" %>
			<%= f.text_field :item %>
			<%= f.submit "Add Item" %>
		<% end %>
		<%= flash[:add_item_error] %>

	<% else %>
		<%= link_to "Create New List", {controller: "lists", action: "create" }, method: "post" %>
	<% end %>

<% else %>
	<h1 id="not_signed_in_top">Ho! Ho! Ho!</h1>
	<h2 id="not_signed_in_bottom">You need to be signed in to see this!</h2>
	<p class="return_home"><%= link_to "Return Home", root_path %></p>
<% end %>
