<h1>Sign Up</h1>

<%= form_for @new_user do |f| %>
	<%= f.label "First Name" %>
	<%= f.text_field :first_name %>
	<%= f.label "Last Name" %>
	<%= f.text_field :last_name %>
	<%= f.label "Email" %>
	<%= f.text_field :email %>
	<%= f.label "Password" %>
	<%= f.password_field :password %>
	<%= f.submit "Sign Up"%>
<% end %>

<%= form_for @sign_in_user, url: {action: "sign_in"} do |f| %>
	<%= f.label "Email" %>
	<%= f.text_field :email, id: "sign_in_email" %>
	<%= f.label "Password" %>
	<%= f.password_field :password, id: "sign_in_password" %>
	<%= f.submit "Sign In"%>
<% end %>


