<div class="container">
	<h1 id="main-logo">Christmas Name Draw</h1>

	<h2 id="countdown"><%= days_until_christmas %> Days Until Christmas</h2>

	<div id="sign_in">
		<h3 class="sign_up_sign_in">Sign Up</h1>

		<%= form_for @new_user do |f| %>
			<%= f.label "First Name" %>
			<%= f.text_field :first_name, class: "form_field" %><br/>
			<%= f.label "Last Name" %>
			<%= f.text_field :last_name, class: "form_field"  %><br/>
			<%= f.label "Email" %>
			<%= f.text_field :email, class: "form_field"  %><br/>
			<%= f.label "Password" %>
			<%= f.password_field :password, class: "form_field"  %><br/>
			<%= f.submit "Sign Up", class: "form_button"%>
		<% end %>
	</div>

	<div id="sign_up">
		<h3 class="sign_up_sign_in">Sign In</h1>

		<%= form_for @sign_in_user, url: {action: "sign_in"} do |f| %>
			<%= f.label "Email" %>
			<%= f.text_field :email, class: "form_field", id: "sign_in_email" %><br/>
			<%= f.label "Password" %>
			<%= f.password_field :password, class: "form_field", id: "sign_in_password" %><br/>
			<%= f.submit "Sign In", class: "form_button"%>
		<% end %>
	</div>
</div>