<h1 class="main-title">Update Your Password</h1>

<div id="reset_password">
	<%= form_for @user, url: {action: "reset_password"} do |f| %>
		<%= f.label "First Name" %><br/>
		<%= f.text_field :first_name, id: "first_name", required: true %><br/>
		<%= f.label "Email" %><br/>
		<%= f.text_field :email, id: "email", required: true %><br/>
		<%= f.label "New Password" %><br/>
		<%= f.password_field :password, id: "password", required: true %><br/>
		<%= f.label "Confirm Password" %><br/>
		<%= f.password_field :confirm_password, id: "confirm_password", required: true %><br/>
		<%= f.submit "Update Password" %>
	<% end %>

	<span class="error_flash"><%= flash[:reset_password_msg] %></span>
</div>

<p class="links"><%= link_to "Return Home", root_path%></p>
